@font-face {
  font-family: "DeskTodo UI";
  src: local("Arial");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+20A0-20CF;
}

@font-face {
  font-family: "DeskTodo UI";
  src: local("Arial Bold"), local("Arial");
  font-style: normal;
  font-weight: 500 700;
  unicode-range: U+0000-024F, U+1E00-1EFF, U+2000-206F, U+20A0-20CF;
}

@font-face {
  font-family: "DeskTodo UI";
  src: local("SimHei");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+2E80-2FFF, U+3000-303F, U+31C0-31EF, U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF, U+FF00-FFEF;
}

@font-face {
  font-family: "DeskTodo UI";
  src: local("SimHei");
  font-style: normal;
  font-weight: 500 700;
  unicode-range: U+2E80-2FFF, U+3000-303F, U+31C0-31EF, U+3400-4DBF, U+4E00-9FFF, U+F900-FAFF, U+FF00-FFEF;
}

:root {
  --font-ui: "DeskTodo UI";
}
